.ysc-dynamic-layer{

    /*重要*/
    position: fixed;
    top:0;
    left:0;
    width: 320px;
    height:250px;
    z-index: 99999;
}
.close__box__btn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #fff;
}
.ysc-dynamic-layer .line{
    position: absolute;
    left:0;
    width:0;
    height:100px;
    bottom: 0;
    background:url("../static/data/images/Textures/line.png");
    animation:goLine 0.5s forwards;
}
@keyframes goLine {
    from{
        width:0
    }
    to{
        width:50px;
    }
}
.ysc-dynamic-layer .main{
    position: absolute;
    top:0;
    left:50px;
    right:0;
    bottom: 100px;
    background:url("../static/data/images/Textures/layer_border.png") no-repeat;
    background-size:100% 100%;
    color:white;
    padding: 20px 5px 5px 20px;
    font-size: 14px;
    user-select:text;
    pointer-events:auto;
    opacity: 0;
    animation:goDynamicLayer 0.5s forwards;
    animation-delay: 0.5s;
}

.ex-box {
  width: 200px;
  height: 100%;
  background: url("../static/data/images/Textures/layer_border.png") no-repeat;
  color: #fff;
  padding: 8px 20px;
}


#box4{
  font-size: 20px;
  color: orange;
}
@keyframes goDynamicLayer {
    from{
       opacity: 0;
    }
    to{
        opacity: 1
    }
}
.ysc-dynamic-layer .light{
    position: absolute;
    z-index: 2;
    width: 100%;
    height:100%;
}
.cesium-viewer-timelineContainer,.cesium-viewer-bottom{
    display: none!important;
}
.ys-css3-container{
    position: fixed;
}
.ys-css3-box{
    position: fixed;
}
